*{
    max-width: 1440px;;
    margin: auto;
}
.azeret-mono-ormal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
    /* Nav Styles */
 nav .nav-content{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;

    
 }
 nav .Resume-button{
    font-size: 18px;
    font-weight: 600;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

 }
 nav div h4{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0%;
    color: rgb(13, 19, 33)

 }
 /* MAin Section */

    /* Hero Sections Styles */
    .hero-section{
        width: 1440px;
        height: 652px;
        border: solid 2px rebeccapurple;
        background-image: url(/assets/Hero-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;
        
    }
    .hero-content{
        width: 998px;
        height: 582px;
        border: solid 2px rebeccapurple;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 24px;
    
    }
    .hero-content .hero-description h1{
        color: rgb(13, 19, 33);
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
    }
    .hero-content .hero-description p{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        opacity: 0.8;
        text-align: center;
        margin-top: 24px;
    }
    .hero-content .hero-description button{
        font-size: 18px;
        font-weight: 500;
        background-color: rgb(13, 19, 33);
        border-radius: 6px;
        padding: 12px 18px;
        color: rgb(255, 255, 255);
        margin-top: 44px;
        cursor: pointer;
    }
    /* About Sections Styles */
    .about-section{
        width: 998px;
        height: 1195px;
        border: solid 2px rebeccapurple;
        margin-top: 50px;
    }

    /* About Title Content  */
    .about-section{
        background-color: rgba(13, 19, 33, 0.02);
    }
    .about-title-content h2{
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .about-title-content p{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.8;
    }

    /* About Content One Styles */
    
    .about-content-one{
        width: 850px;
        height: 240px;
        border: solid 2px rebeccapurple;
        padding: 48px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    }

    .about-sub-title{
        color: rgba(13, 19, 33, 0.7);
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
    }
    .about-sub-description{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        margin: 20px 0px;
    }
    .about-learn-more{
        text-decoration: none;
        color:  rgb(13, 19, 33);
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid rgb(22, 29, 45);
        opacity: 0.7;
        padding: 8px 12px;
    }

    /* About Content Two Styles */
    .about-content-two{
    width: 850px;
    height: 240px;
    border: solid 2px rebeccapurple;
    padding: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* My Inspiration Section */
  .My-Inspiration{
    width: 998px;
    height: 775px; 
    border: solid 2px rebeccapurple;
    margin: 50px auto;
  }
  
  .Inspiration-title h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  .Inspiration-title p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
    text-align: center;
  }
  .Inspiration-video{
    height: 614px;
    margin-top: 30px;
    border: solid 2px rebeccapurple;
  }