*{
    max-width: 100%;
    margin: 0% auto;
}
.azeret-mono-ormal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
    /* Nav Styles */
    nav{
        width: 100%;
        background-color: rgba(13, 19, 33, 0.03);
    }
 nav .nav-content{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 24px;

    
 }
 nav .Resume-button{
    font-size: 18px;
    font-weight: 600;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;

 }
 nav div h4{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0%;
    color: rgb(13, 19, 33)

 }
 /* MAin Section */

    /* Hero Sections Styles */
    .hero-section{
        width: 998px;
        height: 652px;
        background-image: url(../assets/Hero-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;
        
    }
    .hero-content{
        width: 998px;
        height: 582px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 24px;
    
    }
    .hero-content .hero-description h1{
        color: rgb(13, 19, 33);
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
    }
    .hero-content .hero-description p{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        opacity: 0.8;
        text-align: center;
        margin-top: 24px;
    }
    .hero-content .hero-description button{
        font-size: 18px;
        font-weight: 500;
        background-color: rgb(13, 19, 33);
        border-radius: 6px;
        padding: 12px 18px;
        color: rgb(255, 255, 255);
        margin-top: 44px;
        cursor: pointer;
    }
    /* About Sections Styles */
    .about-section{
        width: 998px;
        height: 1195px;
        margin-top: 50px;
        background-color: rgba(13, 19, 33, 0.02);
    }

    /* About Title Content  */
    .about-title-content h2{
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 30px;
    }
    .about-title-content p{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.8;
    }

    /* About Content One Styles */
    
    .about-content-one{
        width: 850px;
        height: 240px;
        padding: 48px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    }

    .about-sub-title{
        color: rgba(13, 19, 33, 0.7);
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
    }
    .about-sub-description{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        margin: 20px 0px;
    }
    .about-learn-more{
        text-decoration: none;
        color:  rgb(13, 19, 33);
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid rgb(22, 29, 45);
        opacity: 0.7;
        padding: 8px 12px;
    }

    /* About Content Two Styles */
    .about-content-two{
    width: 850px;
    height: 240px;

    padding: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* My Inspiration Section */
  .My-Inspiration{
    width: 998px;
    height: 775px; 
    margin: 50px auto;
  }
  
  .Inspiration-title h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  .Inspiration-title p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
    text-align: center;
  }
  .Inspiration-video{
    height: 614px;
    margin-top: 30px;
    
  }
  .Inspiration-video iframe{
    border-radius: 8px;
  }
  /* My Target Sections */

  .target-section{
    width: 998px;
    height: 460px;

}

  .target-section-title-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 20px;
  }
  .target-section-title-content p{
    color: rgb(13, 19, 33);
    font-weight: normal;
    font-size: 16px;
    opacity: 0.8;
    text-align: center;
  }


  .card-details{
    display: flex;
    flex-direction: row;
  }


  .card-h4{
    font-size: 24px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    margin: 14px 0;
  }
  .card-p{
    font-size: 16px;
    font-weight: normal;
    color: rgb(13, 19, 33);
    opacity: 0.8;
    margin-bottom: 32px;
  }
  .card-a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    border: solid 1px rgb(13, 19, 33);
    opacity: 0.8;
    padding: 8px 12px;
  }

  .card-one{
    width: 230px;
    height: 220px;
    margin: 30px auto;
    padding: 36px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 8px;
  }


  .card-two{
    width: 230px;
    height: 220px;
    margin: 30px auto;
    padding: 36px;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 8px;
  }


  .card-three{
    width: 230px;
    height: 220px;
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 8px;
    margin: 30px auto;
    padding: 36px;
  }

  /* Contact Sections */
  .contact-section{
    width: 998px;
    height: 300px;
    margin: 50px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.723),rgba(0, 0, 0, 0.289),rgba(0, 0, 0.456)) , url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  #contact-content{
    width: 800px;
    height: 180px;
    padding-top: 44px;
  }
  #contact-title{
    text-align: center;
    margin: 44px auto;
    
  }

  #contact-title h3{
    font-size: 36px;
    font-weight: 800;
    color: rgb(255, 255, 255);
  }
  #contact-title{
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin-top: 20px;
  }
  
  .Email-sent{
    text-align: center;
  }
  .Email-sent input{
    width: 448px;
    height: 44px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 16px;
  }

  .Email-sent button{
    width: 140px;
    height: 44px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
  }

  /* Footer Sections Styles */
  footer{
    width: 100%;
    background-color: rgba(13, 19, 33, 0.03);
  }
  #footer-section{
    width: 1440px;
    padding: 44px 0;
   
    display: flex;
    justify-content: space-between;
    
  }
  #footer a{
    margin-left: 8px;
  }